html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 10px;
}
#map {
  width: '100%';
  height: 800px;
}

#postButton {
  z-index: 100;
  position: fixed;
  bottom: 10%;
  left: 10%;
}
.image-wrapper {
  width: 100%;
  padding: 20px;
  margin: 20px;
}

header {
  background-color: steelblue;
  color: white;
  padding: 1vh;
  text-align: center;
}
