html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  width: '100%';
  height: 800px;
}

#postButton {
  z-index: 100;
  position: fixed;
  bottom: 10%;
  left: 10%;
}

.infoBox {
  width: 300px;
  background-color: white;
  z-index: 200;
}

.infoBox img {
  width: 90%;
}
/* header {
  background-color: steelblue;
  color: white;
  padding: 10px;
  text-align: center;
} */
